body, html {
    height: 100%;
    color: rgb(255, 255, 255);
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
}

#background {
    background-image: url("../images/IMG_8945.JPG");
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    clear: both;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scaleY(-1);
    z-index: -1;
    background-position: 50% 50%;
    margin: 0 auto;
}
.header {
    position: static;
    width: 100%;
    z-index: 1;
    max-height: 46px;
    padding: 10px 10px 11px;
    border-bottom: 1px solid white;
    overflow: hidden;
}
.logo {
    float: left;
    font-size: 20px;
}
.nav {
    float: right;
    margin-top: 5px;
}
.nav a{
    padding-left: 30px;
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;

}
.rightSection {
    float: right;
    padding-top: 300px;
    padding-right: 220px;
}
.centerbox {
    width: 90%;
    margin: 0 auto;
}

.footer {
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    padding: 15px 0;
    overflow: hidden;
}
.copyright{
    float: right;
}

#scroll{
    position: absolute;
    bottom: 50px;
    margin: 0 50%;
}

#content{
    color: black;
    text-align: center;
    height: 500px;
    margin-top: 75%;
}